.env
.git
.gitignore
.github
.dockerignore
docker/
node_modules/
vendor/
storage/framework/cache/data/*
storage/logs/*
!storage/framework/cache/data/.gitkeep
!storage/logs/.gitkeep
public/build/
public/hot
public/storage
database/database.sqlite
*.md
composer.lock
package-lock.json
tests/
phpunit.xml
pint.json
.postcssrc.js
tailwind.config.js
postcss.config.js
vite.config.js
README.md
